*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  background-color: #121315;
  
  /* padding-top: 15vh; simulates top: 15% */
}
.header{
    width: 100%;
    height: 35vh;
    position: relative;
    overflow: hidden;
}
.header img{
    width: 100vw;
    height: 35vh;
    object-fit: cover;
}
.container {
  top: -17vh;
  /* position:absolute; */
  max-height: fit-content;
  position: relative;
  width: 80%;
  max-width: 1200px;
  background-color: #1C1D1F;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2rem 1rem;
  z-index: 10;
  /* margin-bottom: 2rem; */
}
.main{
    position: relative;
   margin-top: -10rem;
    /* display: flex; */
    /* justify-content: center; */
}
.curly{
    position: relative;
    left: 15%;
    height: 11rem;
    /* width: 200rem; */
}
.text{
    left: 25%;
    margin-top: 3rem;
    flex-wrap: wrap;
    width: 50%;
    text-align: center;
    position:relative;
    /* top: -2rem; */
    z-index: 5;
    
    
}

.text h2{
    /* margin-top: 2rem; */
    color: #FEF7EE;
    font-size: 2rem;
    z-index: 5;
    position: relative;
    /* top: 0rem; */
}
.text p{
    color: #4D5562;
    font-size: 1rem;
    margin: 0.8rem;
    z-index: 5;
}
.tags{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.tags button{
    /* width: 10rem; */

    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
    color:white;
    font-weight: 600;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
}
.tags button.active{
    background-color: #6F757C;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem; /* Adjust as needed */
    justify-content: center; /* or space-between */
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 0;
    row-gap: 4rem;
}